*{
  box-sizing: border-box;
  color: #535387;
  text-align: center;
}

.d-flex {
  display: flex;
  justify-content: center;
}
.f-direction {
  flex-direction: column;
}
.container {
  width: 20rem;
  height: 20rem;
  background-color: #e2e2f0;
  align-self: center;
}

.input{
padding: 0.5rem;
  margin: 0.5rem;
}

.button{
  padding: 1rem;
  margin: 0.5rem;
  box-sizing: border-box;
  border-style: none;
}

.button:hover{
  background-color: #d0d0e7;
  border-style: none;
}